@charset "utf-8";

/*** footer.css ***/

footer {
    width: 100%;
    background-color: lightgray;
    padding: 60px 0;
}

footer a {
    color: #333;
}
footer a:hover {
    text-decoration: underline;
}

footer .sitemap {
    /* background-color: greenyellow; */
    margin-bottom: 30px;
}
footer .sitemap .mapbox {
    /* outline: 2px solid blue; */
    float: left;
    width: 16.66%;
}
footer .sitemap .mapbox h3 {
    font-size: 18px;
    color: rgb(207,102,26);
    font-family: "Merriweather", serif;
    margin-bottom: 20px;
}
footer .sitemap .mapbox ul {}
footer .sitemap .mapbox ul li {
    float: none;
    line-height: 30px;
}


footer .info {
    /* background-color: greenyellow; */
    border-top: 1px solid #999;
    padding-top: 30px;
    position: relative; /* .sns의 기준! */
}

footer .info .links {
    margin-bottom: 20px;
}
footer .info .links a {
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;

    position: relative; /* 가상요소 after의 기준!!! */
    /* outline: 1px solid blue; */
}
footer .info .links a::after {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: rgb(51,51,51);

    position: absolute;
    left: 100%;
    top: 2px;
}
footer .info .links a:last-child::after {
    display: none;
}

footer .info .copy {}

footer .info .sns {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 31px;
}
footer .info .sns a {
    /* outline: 1px solid red; */

    width: 40px;
    height: 40px;

    float: left;
    margin-left: 10px;

    font-size: 0;
}
footer .info .sns a img {
    width: 100%;
    display: block;
}

/* sns아이콘을 배경이미지로 넣기! */
footer .info .sns a:nth-child(2) {
    background-image: url(../img/ico_sns.png);
    background-position: -40px;
}

footer .info .sns a:nth-child(3) {
    background-image: url(../img/ico_blog_hover.png);
}
footer .info .sns a:nth-child(3):hover {
    background-position: right;
}

footer .info .sns a:nth-child(4) {
    background-image: url(../img/ico_twitter_hover.png);
}
footer .info .sns a:nth-child(4):hover {
    background-position: right;
}