@charset "utf-8";

/*** header.css ***/

header {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    /* border-bottom: 1px solid #eee; */
    box-shadow: 0 2px 10px #d9d9d9;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 9999;
}
header a { /* header 하위의 모든 a태그 선택!!! */
    color: #333;
}

header .header-top {
    width: 100%;
    background-color: lightgray;
    height: 40px;
    line-height: 40px;
}

header .header-top ul {
    width: 1280px;
    margin: 0 auto;
    text-align: right;
    /* outline: 2px solid red; */
}
header .header-top ul li {
    float: none;
    display: inline-block;
    margin-left: 10px;
}
header .header-top ul li:last-child {}
header .header-top ul li:last-child a {
    width: 60px;
    height: 40px;
    background: rgb(47,28,17) url(../img/ico_user_info_line.png) no-repeat center;

    /* font-size: 0; */
    /* opacity: 0; */
    text-indent: -9999px;
    text-align: left;
}

header .header-bottom {
    width: 1280px;
    margin: 0 auto;
    height: 100px;
}

header .header-bottom .logo {
    /* outline: 2px solid blue; */
    float: left;
    margin-right: 50px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
}
header .header-bottom .logo img {
    height: 70px;
    display: block;
}

header .header-bottom .gnb {
    /* outline: 2px solid blue; */
    float: left;
}
header .header-bottom .gnb ul {}
header .header-bottom .gnb ul li {
    margin: 0 20px;
}
header .header-bottom .gnb ul li a {
    line-height: 100px;
    font-size: 18px;
    font-family: Arial;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(47,28,17);
}
header .header-bottom .gnb ul li.active a {
    color: rgb(207,102,26);
}
header .header-bottom .gnb ul li a:hover {
    color: rgb(207,102,26);
}

header .header-bottom .search {
    /* outline: 2px solid blue; */
    float: right;
    height: 100%;
}
.search input {
    border: 0;
    outline: 0;
    height: 30px;
    margin-top: 35px;

    vertical-align: middle;
}

.search input[type="search"] {
    border-bottom: 1px solid #ccc;
}

.search input[type="submit"] {
    background-color: transparent;
    background-image: url(../img/ico_search.png);
    background-repeat: no-repeat;
    background-position: right;

    font-size: 0;
    width: 24px;
    cursor: pointer;
}
